<div class="alert" role="alert" id="alert">
<button class="btn btn-light btn-action me-4" id="cancel-message">X</button>
<span id="alert-content">If you are seeing this, your browser doesn't support Javascript so this site might not work correctly for you.</span>
</div>