<% if(typeof(message) != "undefined") {%>
<div class="alert <%= message.type === `failure` ? `alert-danger` : message.type === `success` ? `alert-success` : message.type === `info` ? `alert-info` : `alert-light` %>" role="alert">
  <%= message.content %>
</div>
<% } %>