<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand nav-icon" href="/"><span class="fa-solid fa-house-chimney-window"></span></a>
  <button class="navbar-toggler toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <% if (user) {%>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          Actions
        </a>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="/profile/<%= user.id %>">Profile</a></li>
          <li><a class="dropdown-item" href="/lists/new">Add a List</a></li>
          <li><a class="dropdown-item" href="/books/new">Add a Book</a></li>
          <li><a class="dropdown-item" href="/notes/new">Add a Note</a></li>
          <li><a class="dropdown-item" href="/logout">Logout</a></li>
        </ul>
      </li>
      <% if(user.role === "admin") {%>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          Admin
        </a>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="/lists">Lists</a></li>
          <li><a class="dropdown-item" href="/books">Books</a></li>
          <li><a class="dropdown-item" href="/notes">Notes</a></li>
        </ul>
      </li>
      <% } %>
      <%} else {%>
      <li class="nav-item">
        <a class="nav-link" href="/auth/google" class="login">Login</a>
      </li>
      <%}%>
    </ul>
  </div>
</nav>
<%- include('./messages.ejs') %>