:root {
  --primary: #b21854;
  --primary-2: #cd553b;
  --secondary: #317ec4;
  --secondary-2: #1c4790;
}

body {
  padding: 50px;
  font: 16px "Inter", Arial, sans-serif;
}

a {
  color: var(--primary);
  cursor: pointer;
}

form {
  width: 50%;
}

pre {
  display: none;
}

.mb-1 {
  font-size: 1.5rem;
  padding: 0.25rem;
}

p.mb-1 {
  display: block;
  font-size: 1rem;
}

.book-author {
  display: block;
}

input,
select,
textarea,
.list-edit p {
  margin-bottom: 1.5rem;
}

label {
  margin-bottom: 0.5rem;
  font-size: 1.25rem;
}

footer {
  margin: 2rem auto;
  text-align: center;
}

.book {
  font-size: 1.5rem;
}

.list-group-item {
  cursor: auto;
}

.book-author:before,
.note-author:before {
  content: "by ";
}

h5.trending-item {
  width: 50%;
  line-height: 2rem;
  cursor: pointer;
}

img {
  max-width: 250px;
}

.content {
  margin: 2rem;
}

.heart {
  font-size: 1.2rem;
  color: var(--primary-2);
  margin: 0;
}

.content-lead {
  font-weight: bold;
  font-size: 2rem;
  margin: 1.5rem 0 0.25rem 0;
  display: inline-block;
}

.new-book {
  margin: 1.5rem 0;
}

.notes-list,
.book-list {
  margin: 5vmin 0;
}
.nav-icon {
  margin: 0 0.5rem 0 2rem;
}

.nav-list {
  margin: 0 0 1.5rem 0;
}

.nav-icon span:hover {
  color: var(--primary);
}

.toggler {
  margin: 0 1rem;
}

.navbar {
  margin: 3vmin 0 0 0;
}

.navbar-nav {
  margin: 0 0.5rem 0 1rem;
}

.navbar-nav li {
  margin: 0 1rem;
}

.site-logo {
  color: var(--primary);
  margin: 0 1.5rem 0 0;
  text-decoration: none;
}

h1.title {
  text-transform: uppercase;
  color: black;
  font: 500 3rem "JetBrains Mono", Arial, sans-serif;
}

a.title,
a.card-title {
  text-decoration: none;
}

.navbar {
  text-transform: uppercase;
  font: 500 1rem "JetBrains Mono", Arial, sans-serif;
}

.tagline {
  font: 1.25rem "JetBrains Mono", Arial, sans-serif;
}
.book-content h3,
.book-content h4 {
  display: inline-block;
}

.btn-action {
  width: 25px;
  padding: 1px;
  display: inline-block;
}

.frm-action {
  display: inline-block;
  width: 25px;
}

.app-footer-link {
  display: block;
  margin: 2rem 0;
  width: fit-content;
}

.alert {
  margin-top: 1rem;
  display: none;
}

.inline-author {
  display: inline-block;
}

.img-list {
  padding: 1.5rem;
  border: none;
}

.profile-photo {
  border: 1px solid var(--primary);
  border-radius: 50%;
  width: 12vmin;
  min-width: 150px;
}

.entity-actions .nav-link {
  padding-left: 0;
}

.add-to-list,
.add-to-list-action,
.item-title {
  cursor: pointer;
}

.currently-reading {
  font-weight: bold;
  font-size: 1.25rem;
  margin: 0.5rem 0;
}

#book-list-view,
#read-books-view {
  display: none;
}

.book-list-item {
  cursor: pointer;
}

.no-items {
  margin: 1rem;
}

.list-book-action {
  width: auto;
  display: inline-block;
}

.book-search {
  margin: 0;
}

.index-list-item {
  text-decoration: none;
  display: inline-block;
}

@media (max-width: 1100px) {
  body {
    padding: 20px 0 0 0;
  }
  .content {
    margin: 0.25vmin;
  }
  .title,
  .tagline {
    text-align: center;
    padding: 0 0.25vmin;
  }
  img {
    text-align: center;
    margin: 1rem auto;
    display: block;
  }
  .content-lead {
    text-align: center;
    width: 100%;
  }
  h5.book-author,
  .app-footer-link,
  .currently-reading,
  p.new-note,
  .card-body {
    text-align: center;
  }
  .action-buttons {
    min-width: 60px;
  }
  form {
    width: 100%;
  }
  .add-to-list {
    display: none;
  }
  .user-nav,
  .books-nav,
  .lists-nav {
    justify-content: center;
  }
}
