:root {
  --primary: #B21854;
  --primary-2: #CD553B;
  --secondary: #317EC4;
  --secondary-2: #1C4790;
}

body {
  padding: 50px;
  font: 16px "JetBrains Mono", Arial, sans-serif;
}

a {
  color: var(--primary);
}

form {
  width: 50%;
}

input {
  margin-bottom: 1.5rem;
}

label {
  margin-bottom: 0.5rem;
}

footer {
  margin: 2rem auto;
  text-align: center;
}

.tagline {
  font-size: 1.25rem;
}

.book {
  font-size: 1.5rem;
}

.book-author {
  display: block;
  font-size: 1rem;
}

.book-author:before {
  content: 'by '
}

.trending-item,.book {
  padding: 1rem;
}

.trending-item p,.book p {
  display: inline-block;
  padding: 1rem;
}

img {
  width: 100px;
  border: 1px solid var(--primary);
}

.content {
  margin: 4rem 2rem;
}

.heart {
  font-size: 1.2rem;
  color: var(--primary-2);
  margin: 0;
}

.content-lead {
  font-weight: bold;
  font-size: 2rem;
  margin: 1.5rem 0;
}

.new-book {
  margin: 1.5rem 0;
}

.nav-icon {
  margin: 0 0.5rem 0 2rem
}

.nav-icon span:hover {
  color: var(--primary-2)
}

.toggler {
  margin: 0 1rem;
}

.navbar {
  margin: 3vmin 0 0 0;
}

.navbar-nav {
  margin: 0 0.5rem 0 1rem
}

.navbar-nav li {
  margin: 0 1rem;
}

.site-logo {
  color: var(--primary);
  margin: 0 1.5rem 0 0;
}

a.title {
  text-decoration: none;
  color: black;
}

.book-content h3, .book-content h4 {
  display: inline-block;
}

.btn-action {
  width: 25px;
  padding: 1px;
  display: inline-block;
}

.frm-action {
  display: inline-block;
  width: 25px;
}

.app-footer-link {
  display: block;
  margin: 2rem 0;
}

@media (max-width: 992px) {
  .title,.tagline {
    text-align: center;
  }
  .trending-item,.book {
    text-align: center;
  }
  img {
    text-align: center;
    margin: 1rem auto;
    display: block;
  }
  .content-lead {
    text-align: center;
  }
  form {
    width: 100%;
  }
}
